{{define "base"}}
<html lang="en">
  <head>
    <title> Swag </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

  </head>
  <body>
    <div class="container">
      {{template "body" .}}
    </div>
  </body>
</html>
{{end}}
