{{define "body"}}
<div class="row" style="margin-top: 10px">
  <div class="col-md-6" style=" padding: 4px;">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe id="videoA" class="embed-responsive-item" src="" ></iframe>
    </div>
    <div class="button-wrapper" id="winnerA">
      <button class="btn btn-primary"> Winner</button>
    </div>
  </div>
  <div class="col-md-6"  style=" padding: 4px;">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe id="videoB" class="embed-responsive-item" src="" ></iframe>
    </div>
    <div class="button-wrapper" id="winnerB">
      <button class="btn btn-primary"> Winner</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-5 col-md-8 col-md-offset-2">
      <p class="lead text-center">
      Haiku is a video matchmaking system
      </p>
    <p class="text-center">
      This is how it works: You watch both of the videos, decide which one is the better of the two, then submit the winner. The server changes the videos' ranks accordingly and loads up a new match for your viewing pleasure.
    </p>
<script>
  $(function() {
    get_new_match();
    $("#winnerA").click(function(e) {
      console.log("A was clicked")
      post_match(true);
      e.preventDefault();
      update_ids();
      get_new_match();
    });
    $("#winnerB").click(function(e) {
      console.log("B was clicked")
      post_match(false);
      e.preventDefault();
      update_ids()
      get_new_match();
    });
  });

</script>
{{end}}
