{{define "body"}}
<div class="row" style="margin-top: 10px">
  <div class="col-md-5" style="background: #ccc; padding: 4px;">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/bNNxTikTACQ" ></iframe>
    </div>
    <div class="button-wrapper">
      <button class="btn btn-primary"> Click Me!</button>
    </div>
  </div>
  <div class="col-md-2">
    <div style="margin: auto">asdf</div>
  </div>
  <div class="col-md-5" style="background: #ccc">
    This is a test
  </div>
</div>
{{end}}
