{{define "body"}}
<div class="row">
  <div class="col-md-6">
    <p class="lead"> Videos must be a youtube link and be less than 20 seconds</p>
    <form role="form" id="videoPostForm" >
      <div class="form-group">
        <span> URL </span>
        <input id="name" class="form-control" name="url">
      </div>

      <button type="submit" id="simplePost" > asdf</button>
    </form>
  </div>
</div>

<script>
  $(function() {
    $('#videoPostForm').submit(function(e) {
      term = $("#name").val()
      console.log(term)
      data = {"url": term}
      str = JSON.stringify(data)
      $.ajax({
        type: 'POST',
        url: '/videos/new',
        data: str,
        dataType: "json"
      });
      $("#name").val(' ');
      e.preventDefault()
    });
  })
</script>
{{end}}
